openapi: 3.0.3
info:
  title: 1099Pass API
  description: |
    API for 1099Pass income verification platform.

    ## Authentication
    All endpoints except `/auth/*` require a valid JWT token in the Authorization header:
    ```
    Authorization: Bearer <token>
    ```

    ## Rate Limits
    - 1000 requests per IP per 5 minutes
    - Additional limits may apply per endpoint
  version: 1.0.0
  contact:
    name: 1099Pass Support
    email: support@1099pass.com
    url: https://1099pass.com
  license:
    name: Proprietary
    url: https://1099pass.com/terms

servers:
  - url: https://api.1099pass.com/v1
    description: Production
  - url: https://api.staging.1099pass.com/v1
    description: Staging
  - url: http://localhost:3000/api
    description: Local development

tags:
  - name: Authentication
    description: User registration and login
  - name: Borrowers
    description: Borrower profile and data management
  - name: Reports
    description: Income verification reports
  - name: Lenders
    description: Lender operations
  - name: Messages
    description: Communication between borrowers and lenders

paths:
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register new user
      description: Create a new borrower or lender account
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email already registered

  /auth/login:
    post:
      tags: [Authentication]
      summary: Authenticate user
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /borrowers/me:
    get:
      tags: [Borrowers]
      summary: Get current borrower profile
      operationId: getBorrowerProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Borrower profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BorrowerProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    patch:
      tags: [Borrowers]
      summary: Update borrower profile
      operationId: updateBorrowerProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBorrowerRequest'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BorrowerProfile'
        '400':
          $ref: '#/components/responses/BadRequest'

  /borrowers/me/financial-profile:
    get:
      tags: [Borrowers]
      summary: Get financial profile with income data
      operationId: getFinancialProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Financial profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialProfile'

  /reports:
    get:
      tags: [Reports]
      summary: List income reports
      operationId: listReports
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [READY, PENDING, EXPIRED]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of reports
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Report'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer

    post:
      tags: [Reports]
      summary: Generate new income report
      operationId: generateReport
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reportType:
                  type: string
                  enum: [MORTGAGE_READY, AUTO_READY, PERSONAL_LOAN]
      responses:
        '202':
          description: Report generation started
          content:
            application/json:
              schema:
                type: object
                properties:
                  reportId:
                    type: string
                  status:
                    type: string
                    enum: [PENDING]

  /reports/{id}:
    get:
      tags: [Reports]
      summary: Get report details
      operationId: getReport
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Report details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportDetail'
        '404':
          $ref: '#/components/responses/NotFound'

  /reports/{id}/share:
    post:
      tags: [Reports]
      summary: Create share token for report
      operationId: shareReport
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                expiresInDays:
                  type: integer
                  default: 30
                  maximum: 90
      responses:
        '201':
          description: Share token created
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  shareUrl:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time

  /lenders/reports:
    get:
      tags: [Lenders]
      summary: Browse available reports (lenders only)
      operationId: browseReports
      security:
        - bearerAuth: []
      parameters:
        - name: minScore
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 100
        - name: minIncome
          in: query
          schema:
            type: number
        - name: maxIncome
          in: query
          schema:
            type: number
        - name: states
          in: query
          schema:
            type: array
            items:
              type: string
        - name: incomeTypes
          in: query
          schema:
            type: array
            items:
              type: string
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [score, income, createdAt]
        - name: sortOrder
          in: query
          schema:
            type: string
            enum: [asc, desc]
      responses:
        '200':
          description: Matching reports
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LenderReportView'
                  total:
                    type: integer

  /messages:
    get:
      tags: [Messages]
      summary: List messages
      operationId: listMessages
      security:
        - bearerAuth: []
      parameters:
        - name: conversationWith
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of messages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'

    post:
      tags: [Messages]
      summary: Send message
      operationId: sendMessage
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        '201':
          description: Message sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    RegisterRequest:
      type: object
      required: [email, password, userType]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 12
        userType:
          type: string
          enum: [BORROWER, LENDER]
        firstName:
          type: string
        lastName:
          type: string

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer
        user:
          type: object
          properties:
            id:
              type: string
            email:
              type: string
            userType:
              type: string

    BorrowerProfile:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        dateOfBirth:
          type: string
          format: date
        address:
          $ref: '#/components/schemas/Address'
        kycStatus:
          type: string
          enum: [PENDING, VERIFIED, REJECTED]
        subscriptionTier:
          type: string
          enum: [FREE, PLUS, PRO]

    UpdateBorrowerRequest:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'

    Address:
      type: object
      properties:
        street:
          type: string
        city:
          type: string
        state:
          type: string
        zipCode:
          type: string

    FinancialProfile:
      type: object
      properties:
        totalAnnualIncome:
          type: number
        monthlyAverage:
          type: number
        incomeTrend:
          type: string
          enum: [INCREASING, STABLE, DECREASING, VARIABLE]
        debtToIncomeRatio:
          type: number
        loanReadinessScore:
          type: integer
          minimum: 0
          maximum: 100
        incomeSources:
          type: array
          items:
            $ref: '#/components/schemas/IncomeSource'
        lastSynced:
          type: string
          format: date-time

    IncomeSource:
      type: object
      properties:
        platformName:
          type: string
        platformType:
          type: string
          enum: [GIG_RIDESHARE, GIG_DELIVERY, GIG_FREELANCE, GIG_MARKETPLACE, CONTRACTOR_1099, SELF_EMPLOYED]
        annualTotal:
          type: number
        monthlyAmounts:
          type: array
          items:
            type: object
            properties:
              month:
                type: string
              amount:
                type: number
        activeSince:
          type: string
          format: date
        verified:
          type: boolean

    Report:
      type: object
      properties:
        id:
          type: string
        reportType:
          type: string
        status:
          type: string
          enum: [PENDING, READY, EXPIRED]
        generatedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        score:
          type: integer

    ReportDetail:
      allOf:
        - $ref: '#/components/schemas/Report'
        - type: object
          properties:
            dataSnapshot:
              type: object
              properties:
                totalAnnualIncome:
                  type: number
                monthlyAverage:
                  type: number
                incomeTrend:
                  type: string
                loanReadinessScore:
                  type: integer
                sourceCount:
                  type: integer
                sources:
                  type: array
                  items:
                    type: string
                debtToIncomeRatio:
                  type: number
                riskFactors:
                  type: array
                  items:
                    type: string
                strengths:
                  type: array
                  items:
                    type: string

    LenderReportView:
      type: object
      properties:
        reportId:
          type: string
        borrowerId:
          type: string
          description: Anonymized ID
        score:
          type: integer
        totalAnnualIncome:
          type: number
        incomeTypes:
          type: array
          items:
            type: string
        state:
          type: string
        generatedAt:
          type: string
          format: date-time

    Message:
      type: object
      properties:
        id:
          type: string
        senderId:
          type: string
        recipientId:
          type: string
        subject:
          type: string
        body:
          type: string
        read:
          type: boolean
        createdAt:
          type: string
          format: date-time

    SendMessageRequest:
      type: object
      required: [recipientId, subject, body]
      properties:
        recipientId:
          type: string
        subject:
          type: string
          maxLength: 200
        body:
          type: string
          maxLength: 5000

    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        requestId:
          type: string

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Forbidden:
      description: Access denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
